<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,
		initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container mt-3">
    <br />
    <h1>Enter book details</h1>
    <br />
    <form action="/books" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="bookName" style="font-size: 23px"> Book name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="author" style="font-size: 23px"> Author</label>
          <input type="text" class="form-control" id="author" name="author">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="publishedDate" style="font-size: 23px"> Published date</label>
          <input type="text" class="form-control" id="publishedDate" name="publishedDate">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="pages" style="font-size: 23px"> Number of pages</label>
          <input type="number" class="form-control" id="pages" name="pages">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

</html>
