<!-- book-form.component.html -->

<div class="container mt-3">
  <br />
  <h1>Enter book details</h1>
  <br />
  <form [formGroup]="bookForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="bookName" style="font-size: 23px">Book name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="author" style="font-size: 23px">Author</label>
        <input type="text" class="form-control" formControlName="author">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="publishedDate" style="font-size: 23px">Published date</label>
        <input type="text" class="form-control" formControlName="publishedDate">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="pages" style="font-size: 23px">Number of pages</label>
        <input type="number" class="form-control" formControlName="pages">
      </div>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-primary mt-3">Submit</button>
    <button type="submit" (click)="getAllBooks()" class="btn btn-primary mt-3">Get all books</button>
  </form>

</div>
