<div class="container mt-3">
  <h1>Books library</h1>

  <div *ngIf="!showDeleteModal" class="books-container">
    <div *ngFor="let book of books" class="book-card">
      <h2>{{ book.name }}</h2>
      <p>Author: {{ book.author }}</p>
      <p>Published Date: {{ book.publishedDate }}</p>
      <p>Pages: {{ book.pages }}</p>

      <div class="buttons-block mt-3">
        <button class="btn btn btn-dark" (click)="editBook(book)">Edit</button>
        <button class="btn btn-danger mx-3" (click)="deleteBook(book._id)">Delete</button>
      </div>
    </div>
  </div>

  <div *ngIf="showDeleteModal" class="delete-successful">
    <div class="card text-white bg-info mb-3">
      <div class="card-header">Success</div>
      <div class="card-body">
        <h5 class="card-title">Book Deleted</h5>
        <p class="card-text">The book has been successfully deleted from the database.</p>
      </div>
    </div>
  </div>

  <div class="add-new-book container px-3">
    <button class="btn btn-info mt-4" (click)="addNewBook()">Add New Book</button>
    <button *ngIf="showDeleteModal" class="btn btn-outline-danger mt-4 mx-3" (click)="hideDeleteModal()">
      View books list
    </button>
  </div>


</div>
